.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 10px;
}

button{
  border: 0;
  padding: 3px 18px;
  border-radius: 5px;
  background: #6B64FE;
  color: #fff;
  font-size: 16px;
}
.goods__hits {
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  color: #666;
  font-size: 14px;
}

.goods__hits span {
  display: flex;
  align-items: center;
  color: #999;
}

.goods__hits span img {
  margin-right: 5px;
}

.goods__hits span b {
  font-size: 14px;
  text-align: center;
  color: #999;
}
.swiper-slide {
  margin: 0 5px;
}
